.thumbnail
  position relative
  display inline-block
  width calc(25% - 2%)
  padding-bottom @width
  margin -3% 1%
  background url('../images/desktop-frame.png') center / 100% auto no-repeat
  transition .2s
  @media (max-width 1200px)
    width calc(33.3333% - 2%)
    padding-bottom @width
  @media (max-width 780px)
    width calc(50% - 2%)
    padding-bottom @width
  @media (max-width 320px)
    width calc(100% - 2%)
    padding-bottom @width
  &__desktop, &__vail
    position absolute
  &__desktop
    top 24%
    bottom 28%
    left 12%
    right 12%
    z-index 10
    background-position center
    background-size cover
    background-repeat no-repeat
    transition .2s
    &:hover
      .thumbnail__vail
        opacity 1
  &__vail
    top 0
    bottom 0
    left 0
    right 0
    display flex
    align-items center
    justify-content center
    opacity 0
    background rgba(#bebebe, .8)
    font-size 40px
    text-align center
    color #000
    transition .2s
  &__links
    position absolute
    bottom 0
    left 0
    right 0
    text-align center
    a
      color #88f
