doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='./dist/css/style.css')
    title Portfolio by Artem Verbat

body.page
  include blocks/header/header

  -
    const works = require('./src/data/works.json');

  .container.text_center
    for work in works
      a(href=work.link target='_blank').thumbnail
        .thumbnail__desktop(style='background-image: url(/dist/images/works/' + work.preview + ')')
          .thumbnail__vail
            i.fa.fa-external-link(aria-hidden='true')
